{% extends 'core/base.html' %}

{% block title %} Home page {% endblock %}


{% block content %}
    <h4>Всего блогов: {{ view.totallyBlogs |default:"0" }} </h4>
    <h4>Всего постов: {{ view.totallyPosts |default:"0" }} </h4>
    <h4>Всего комментариев: {{ view.totallyComments |default:"0"}} </h4>
    <h2> <a href="{% url "blogs:blog_list"%}"> -- Все блоги -- </a> </h2><br/>
    <h3>Последние блоги:</h3>
    {% for blog in latest_blogs %}
        <div>
            <div> <a href="{% url "blogs:one_blog" pk=blog.id %}">{{ blog.title }} </a></div>
            <div>{{ blog.description }}</div> <br/><br/>
        </div>
    {% endfor %}
{% endblock %}