{% extends 'core/base.html' %}
{% load widget_tweaks %}
{% load static %}


{% block navigate %}
    <li><a href="{% url "home" %}">Главная</a></li>
    <li ><a href={% url "blogs:blog_list" %}>Блоги</a></li>
    <li class="active"><i>Создание...</i></li>
{% endblock %}

{% block content %}
    <form method="post" class="container">
        {% csrf_token %}
         {% if form.errors %}
            {{ form.errors }}
        {% endif %}
        <div class="form-group">
            <label class="control-label">{{ form.title.label }}</label>
            <div>{{ form.title|add_class:"form-control" }} </div>
            <label class="control-label">{{ form.description.label }}</label>
            <div>{{ form.description|add_class:"form-control" }} </div>
            <label class="control-label">{{ form.categories.label }}</label>
            <div>{{ form.categories|add_class:"js-example-basic-multiple form-control"}} </div>
        </div>
    <div>
        <input type="submit" class="btn btn-default" value="Сохранить изменения" >
    </div>
    </form>
{% endblock %}


{% block jsripts %}
    <script src="{% static "js/select2.min.js" %}"></script>
{% endblock %}

{% block stylesheet %}
    <link href="{% static "select2.min.css"%}" rel="stylesheet">
{% endblock %}